<%- include('./partials/header'); %>
    
        <ul class="boxes">
            
            <% data.forEach(cat => { %>
                <li class="box">
                    <h2><a href="/category/<%=cat.strCategory%>"><%=cat.strCategory%></a></h2>
                    <p class="tip"><%=cat.strCategoryDescription%></p>
                    
                </li>
            <% })  %>
    
        </ul>
    </div>
</body>
</html>