<%- include('./partials/header'); %>
    
        <ul class="boxes">
            <li class="box meal">         
                <p> Hello, welcome to my new site, I want you to find a meal !</p>
                <p>First, choose a way to find  one.</p>             
            </li>
    
        </ul>
        <ul class="boxes">
            <li class="box">
                <a href="/categories/"><h2>Choose meal from categories</h2></a>               
            </li>

            <li class="box">
                <a href="/areas/"><h2>Choose meal from a specific area</h2></a>                
            </li>

            <li class="box">
                <a href="/random/"><h2>Pick a random meal</h2></a>               
            </li>
    
        </ul>
    </div>
</body>
</html>